{{!-- <div class="container col-md-10">
  <form class="card p-3 bg-light text-center mt-3 mb-3" href="robot/edit/{{robot._id}}" method="post">
    <h2 class="text-bg-success">Edit robot</h2>
    <div class="form-group">
      <label class="h3 text-secondary">Name</label>
      <input type="text" name="name" class="form-control" required value="{{robot.name}}" />
    </div>
    <div class="form-group">
      <label class="h3 text-secondary">Brand</label>
      <input type="text" name="brand" class="form-control" required value="{{robot.brand}}" />
    </div>
    <div class="form-group">
      <label class="h3 text-secondary">Price</label>
      <input type="number" name="price" class="form-control" required value="{{robot.price}}" />
    </div>
    <div class="form-group">
      <label class="h3 text-secondary">Image</label>
      <br>
      <img src="{{robot.image}}" width="100" height="100">
      <br>
      <input type="text" name="image" class="form-control" required value="{{robot.image}}" />
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary mt-3" value="Edit" />
    </div>
  </form>
</div> --}}

<div class="container" style="background-color: #2415c6 ;">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="h1 fw-bold mb-3" style="color:#3f0a15;">Toy store Greenwich</h2>
      <div class="text-center mb-5 h1 fw-bold ">Edit robot</div>
      <div class="card my-5" style="background-color:#6ad6c0 ;">

        <form class="card-body cardbody-color p-lg-5" href="robot/edit/{{robot._id}}" method="post">

          <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGpD3YNMV4CQpcqzL7eIc1rm4IVdiOXt9mUg&usqp=CAU"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <label class="h3 text-secondary">Name</label>
            <input type="text" name="name" class="form-control" required value="{{robot.name}}" />
          </div>
          <div class="mb-3">
            <label class="h3 text-secondary">Brand</label>
            <input type="text" name="brand" class="form-control" required value="{{robot.brand}}" />
          </div>
          <div class="mb-3">
            <label class="h3 text-secondary">Price</label>
            <input type="text" name="price" class="form-control" required value="{{robot.price}}" />
          </div>
          <div class="mb-3">
            <label class="h3 text-secondary">Image</label>
            <br>
            <img src="{{robot.image}}" width="100" height="100">
            <br>
            <input type="text" name="image" class="form-control" required value="{{robot.image}}" />
          </div>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Edit</button></div>
        </form>
      </div>

    </div>
  </div>
</div>